section {
  min-height: 65vh;
}

.sectConteinerPrincipal {
  padding-top: 9%;
  background-color: transparent;
  background-image: url("../../../../public/groupHome.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 51vh;
  margin-right: 10px;
  min-height: 67vh;
	box-sizing: border-box;
}
.conteinerPrincipal {
  width: 501px;
  background-color: transparent;
}
.conteinerPrincipal > h1 {
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  background-color: transparent;
}
i{
  background-color: transparent;

}
.conteinerPrincipal > div {
  display: flex;
  margin-top: 40px;
  background-color: transparent;
}
.conteinerPrincipal > div > button {
  margin-right: 35px;
  width: 170px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #838383;
  background-color: #f7f1ec;
}
.conteinerPrincipal > div > button:hover {
  color: #f7f1ec;
  border: 1px solid #838383;
  background-color: #000;
}
